:root{
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}
*{
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body {

background-color: var(--bg);

}

ul {

font-family: helvetica;

}
li {

list-style: circle;

}

.list {

list-style: square;

}


.light-theme {
transition: 3s;
--fontColor: var(--black);
--bg: var(--green);
--btnBg: var(--black);
--btnFontColor: var(--white)
}

.dark-theme {
    transition: 3s;
--fontColor: var(--green);
--bg: var(--black);
--btnBg: var(--white);
--btnFontColor: var(--black);
}

.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}
.btn:focus{
    outline-style: none;
}